<template>
    <div>
        <v-file-uploader-element
                v-for="file in files"
                :key="file"
                :multi="multi"
                :name="name"
                @remove="remove(file)"/>
        <button @click.prevent="add" v-if="multi">Add file</button>
    </div>
</template>

<script>
    import VFileUploaderElement from './VFileUploaderElement'

    export default {
        components: {VFileUploaderElement},
        props: {
            multi: {
                type: Boolean,
                default: true,
            },
            name: {
                type: String,
                default: 'upload',
            },
        },
        data() {
            return {
                files: [],
                last_file_index: 0,
            }
        },
        methods: {
            add() {
                this.$set(this.files, this.files.length, ++this.last_file_index)
            },
            remove(file) {
                this.files = this.files.filter(f => f !== file)
            },
        },
        watch: {
            files: {
                immediate: true,
                handler: function () {
                    if (!this.files.length) this.add()
                },
            },
        },
    }
</script>
