<template>
    <div>
        <input type="file" style="display:none" ref="input" :name="fullName" @change="change">
        <button @click.prevent="openDialog" v-if="!file">Select file</button>
        <button @click.prevent="remove" v-if="file">X</button>
        <span v-if="file">Name: <b>{{file.name}}</b>; Size: <b>{{file.size}}</b>; Type (mime): <b>{{file.type}}</b></span>
    </div>
</template>

<script>
    export default {
        props: {
            name: String,
            multi: Boolean,
        },
        data() {
            return {
                file: null,
            }
        },
        computed: {
            fullName() {
                return this.name + (this.multi ? '[]' : '')
            },
        },
        methods: {
            change(e) {
                const target = e.target
                const file = target.files[0]
                if (!file) this.remove()
                else this.file = file
            },
            remove() {
                this.$emit('remove')
            },
            openDialog() {
                this.$refs.input.click()
            },
        },
    }
</script>
