<template>
    <div class="container">
        <div class="text-center">
            <img alt="Vue logo" src="./assets/logo.png">
        </div>
        <h1>Multi upload</h1>
        <form action="upload" method="post" enctype="multipart/form-data">
            <v-file-uploader :name="'files'"/>
            <input type="submit">
        </form>
        <h1>Single upload</h1>
        <form action="upload" method="post" enctype="multipart/form-data">
            <v-file-uploader :name="'files-single'" :multi="false"/>
            <input type="submit">
        </form>
    </div>
</template>

<script>
    import VFileUploader from './components/VFileUploader.vue'

    export default {
        components: {VFileUploader},
    }
</script>

<style>
    @import url("https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css");
</style>
